.box-login-form {
  width: 100%;
}

.form-container {
  display: grid;
  margin: $s-size 0;
  gap: $s-size;
}

@media screen and (max-width: $middle-width) {
  .form-container {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: $mobile-width) {
  .form-container {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(1, 1fr);
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: $xs-size;
}

.form-group.input-description {
  grid-row: 3 / -1;
  grid-column: 1 / -1;
}

.form-text-error {
  color: $danger-color;
  font-size: $s-size;
  font-style: italic;
  font-weight: 500;
  display: block;
  height: $l-size;
  padding: $xs-size 0;
}

.required::after {
  content: "*";
  color: $danger-color;
  font-size: $m-size;
  font-weight: 500;
}

.icon {
  width: $icon-size;
  height: $icon-size;
  display: inline-block;
  &:hover {
    cursor: pointer;
    color: $primary-color;
  }
}

.input-password {
  width: 100%;
  position: relative;
  input {
    width: 100%;
    padding-right: $l-size;
  }
  .icon-eye {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-30%, 25%);
  }
}
