// Colors
$primary-color: #11057c;
$secondary-color: #1b70b6;
$tertiary-color: #222222;
$info-color: #2196f3;
$success-color: #4caf50;
$warning-color: #ff9800;
$danger-color: #f44336;
$gray-color: #444444;
$light-color: #cccccc;
$white-color: #ffffff;

// Spacings
$xs-size: 0.7rem;
$s-size: 1.4rem;
$m-size: 1.8rem;
$ls-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.2rem;

$icon-size: 2.4rem;

$mobile-width: 500px;
$middle-width: 700px;
$desktop-width: 1000px;
