// Colors
$primary-color: "#ED0722";
$secondary-color: "#333333";
$tertiary-color: "#7949b9";
$success-color: "#4caf50";
$info-color: "#2196f3";
$warning-color: "#ff9800";
$danger-color: "#f44336";
$dark-color: "#111111";
$light-color: "#eeeeee";

// Spacings
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$mobile-width: 45rem;
